body{
    background-image:url(bg-img.jpg);
    background-size: cover;
    padding-right: 500px;
}
.title{
    border-radius: 14%;
    border-width: 6px;
    font-style:italic;
    font-size: 20px;
    color: rgb(121, 224, 188);
    border-color: black;
}
div{
    color: rgba(240, 248, 255, 0.568);
}
.story,.cuisine,.freshness,.service,.event{
    margin-bottom: 10px;
    border: 0;
}
label{
 color: burlywood;
}
h1{
    text-align: center;
    text-shadow: 2px;
}
footer {
    margin-top: 265px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}