/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
}
header {
        background-image: url(brooke-lark-08bOYnH_r_E-unsplash.jpg);
        background-size: cover;
}
h1 {
    font-size: 36px;
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-image: url(sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg);
    background-size: cover;

}

#tips-content {
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    margin-left: 0px;
}

h2 {
    font-size: 24px;
    text-align: center;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    padding: 10px 0;
}

li {
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
